# Academy: Data Engineering: Assignment 1

In [2]:
!pip install pyspark -q gwpy

     |████████████████████████████████| 281.3 MB 50 kB/s
     |████████████████████████████████| 1.4 MB 12.8 MB/s
     |████████████████████████████████| 199 kB 50.0 MB/s
     |████████████████████████████████| 45 kB 3.6 MB/s
     |████████████████████████████████| 11.2 MB 36.8 MB/s
     |████████████████████████████████| 51 kB 6.8 MB/s
     |████████████████████████████████| 4.0 MB 34.4 MB/s
     |████████████████████████████████| 960 kB 65.0 MB/s
  Building wheel for pyspark (setup.py) ... done
  Building wheel for ligo-segments (setup.py) ... done

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [4]:
%%capture
!wget https://raw.githubusercontent.com/Ruqyai/Course-DS/ef2eb5cfef26c7b3f1f17c334b6e0ccc02c47a2d/math-raw.csv

In [5]:
!ls

math-raw.csv  sample_data

###Creat spark datafream using the csv file

In [6]:
# write you code here
spdf = spark.read.format("csv").option("header", "true").load("/content/math-raw.csv")
spdf.show(5)

+------+------+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|   sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+------+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|     F| 18|      U|    GT3|      A|   4|   4|at_home| teacher|course|  mother|         2|        2|    null|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       ?|    4|   1|   1|     3|     NaN|  5|  6|  6|
|    GP|     F| 17|      U|    GT3|      T|   1|   1|at_home|   other|course|  father|         1|        2|    null|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       ?|    3|   1|   1|     3|     NaN|  5|  5|  6|
|    GP|Female| 15|      U|    LE3|      T|   1|   1|at_home|   other| other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|     F| 15|      U|    GT3|      T|   4|   2| health|services|  home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|     F| 16|      U|    GT3|      T|   3|   3|  other|   other|  home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
+------+------+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 5 rows

In [1]:
#@title proposed solution
#spdf = spark.read.format("csv").option("header","true").load("/content/math-raw.csv")
#spdf.show(5)

### Select on column

In [9]:
# write you code here
spdf.createOrReplaceTempView("people")

spark.sql("SELECT Fjob from people").show()

+--------+
|    Fjob|
+--------+
| teacher|
|   other|
|   other|
|services|
|   other|
|   other|
|   other|
| teacher|
|   other|
|   other|
|  health|
|   other|
|services|
|   other|
|   other|
|   other|
|services|
|   other|
|services|
|   other|
+--------+
only showing top 20 rows

### Filter father job to show teachers

In [10]:
# write you code here
spdf.createOrReplaceTempView("people")

spark.sql("SELECT Fjob from people where Fjob = 'teacher'").show()

+-------+
|   Fjob|
+-------+
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
|teacher|
+-------+
only showing top 20 rows